# GitHub Actions workflow for publishing Sphinx docs
# vim: set ts=8 sts=2 sw=2:
name: Docs
on:
  push:
    tags:
      - v*.*.*
  # Allow manual publishing from GitHub Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# New instances of the workflow immediately cancel any instances in progress
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  generate:
    name: Generate docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies for docs
        run: python3 -m pip install --upgrade .[docs]
      - name: Run Sphinx
        run: |
          cd docs
          make html
      - name: Upload docs artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs/_build/html/

  deploy:
    name: Deploy docs to Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v1
